<div class="row picture-attachment-module">
  <div class="small-6 columns">
    <%= render "module/picture" %>
  </div>
  <div class="small-6 columns">
    <%= render "module/attachment" %>
  </div>
</div>
