<div class="picture-attachment-module">
  <div class="row">
    <div class="small-6 columns">
      <%= render "pictures/pictures" %>
      <%= render "pictures/form" %>
    </div>
    <div class="small-6 columns">
      <%= render "attachments/attachments" %>
      <%= render "attachments/form" %>
    </div>
  </div>
</div>
