<div class="row">
  <br>
  <%= link_to 'Back', affairs_path, class: "button" %>
  <br>
  <br>
    <div class="background-a">
    <h1 class="center">New Event</h1>
    <div class="background-a-content">
      <%= render 'form' %>
    </div>
  </div>
</div>


