<div class="row home-main">
  <div class="events">
    <h1>Events</h1>
  </div>
  <div class="newsletters">
    <h1>Newsletters</h1>
  </div>
  <div class="scholarships">
    <h1>Scholarships</h1>
  </div>
</div>

