<div class="row">
  <div class="background-a">
    <h1>New About</h1>
    <div class="background-a-content">
      <%= render 'form' %>
    </div>
  </div>
  <%= link_to 'Back', abouts_path, class: "button" %>
</div>

