<div class="row">
  <div class="small-12 columns">
    <br>
    <br>
    <%= link_to 'Back', abouts_path, class: "button" %>
  </div>
  <div class="small-12 columns">
    <%= render "module/picture" %>
  </div>
</div>


