<h1>Pictures</h1>
<% @pictures.each do | picture | %>
  <%= picture.name %>
  <%= image_tag picture.image.url(:thumb) %>
  <input type="radio" name="picture" value="<%= picture.id %>">
<% end %>

<%= link_to "New Picture", [:new, @imageable, :picture] %>
