<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @newsletter_name %></h1>
    <p>Check out our latest scoop!</p>
    <h1><a href="<%= @url %>">SCAPHON SCOOP</a></h1>
    <p>Enjoy!</p>
  </body>
</html>
