$font-main: 'Josefin Sans', sans-serif;
$off-white: #f5f5f5;
$dark-blue: #314d5b;
$light-blue: #27a6d1;
$dark-orange: #e1574c;
$light-green: #3db39d;
$mid-yellow: #f0c75e;
body {
  font-family:$font-main;
  background:$off-white;
}

.top-bar{
  background:$dark-blue;
  width:100%;
  position:relative;
  height:60px; //remove
  h5{
    color:white;
    float:right;
    margin:20px;
    padding:0px;
  }
}


.nav{
  border-bottom:2px solid $light-blue;
  height:100px;
  margin-top:10px;
  position:relative;
  &:before{
    background-image:url(image_path("logo2.png"));
    background-repeat:no-repeat;
    background-size:100%;
    content:"";
    height:100px;
    top:0px;
    position:absolute;
    width:195px;
    left:0px;
  }
  div{
    float:left;
    margin-top:50px;
    padding:0px 20px;
    text-align:center;
    &:hover{
      background:$light-blue;
    }
    a{
      color:$light-blue;
      display:block;
      padding:17px;
      text-decoration:none;
      text-transform:uppercase;
      &:hover{
        color:$off-white;
      }
    }
  }
}

.home-main{
  div{
    float:left;
    height:300px;
    margin:20px 0px 0px 1%;
    width:32%;
  }
  h1{
    color: white;
    text-align: center;
    margin-top: 0px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
  }
  .events{
    border:4px solid $light-blue;
    box-shadow: 0 0 150px $light-blue inset;
  }
  .newsletters{
    border:4px solid $light-green;
    box-shadow: 0 0 150px $light-green inset;
  }
  .scholarships{
    border:4px solid $dark-orange;
    box-shadow: 0 0 150px $dark-orange inset;
  }
}

.community{
  height:400px; //remove
  .community_board{
    max-width:600px;
    background:#ddd;
    height:300px; //remove
    margin:50px auto;
    padding:20px;
    text-align:center;
  }
}

.footer{
  background:$light-blue;
  height:220px; //remove
  padding:20px;
}
.base{
  background:$light-green;
  height:40px; //remove
  width:100%;
  text-align:center;
  padding:20px;
}






.center-text{
  text-align:center;
}
