<div class="footer">
  <div class="row">
    <div class="large-4 small-12 columns">asdfaasdf</div>
    <div class="large-4 small-12 columns">asdfaasdf</div>
    <div class="large-4 small-12 columns">asdfaasdf</div>
    <div class="large-4 small-12 columns">asdfaasdf</div>
  </div>
</div>
<div class="base">asdfa</div>
