<div id="top-bar">
  <div class="log-in">
    <%= link_to "log in", log_in_path, class: "button" %>
    <%= link_to "sign up", sign_up_path, class: "button" %>
    <%# link_to "Pictures", newsletter_pictures_path %>
  </div>
</div>
