<div class="top-bar">
  <div class="log-in">
    <h5><%= link_to "log in", log_in_path %></h5>
    <h5><%= link_to "sign up", sign_up_path %></h5>
    <h5><%# link_to "Pictures", newsletter_pictures_path %></h5>
  </div>
</div>
